<%- include('Data/head.ejs') %>

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

    </body>
    <div class="start">
        <center>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        <h1> <%=global.config.botInfo.Name%> </h1>
        <p>
            <%=global.config.botInfo.Description%>
        <p>
            <h1> SITE STILL IN WORKS! </h1> 
        </center>
    </div>

    </html>